<main>

  <div class="bg-image-full">
    <div class="col-12 h-100 py-5" style="background-color: rgba(0,0,0,0.5);">
      <div class="text-center my-5 py-5">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image.variant(resize_to_fill: [150, 150]), class: "img-fluid rounded-circle mb-4" %>
      <% else %>
        <%= image_tag "default-image.jpg", width: 150, height: 150, class: "img-fluid rounded-circle mb-4" %>
      <% end %>
      
        <h3 class="text-white fs-3 fw-bolder"><%= @user.name %></h3>
        <!--直うち禁止にして-->
        <%= link_to edit_user_path(@user), class:"btn btn-secondary w-25 " do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="page-section text-light" style="background-color:  #1E1E1F;" >
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">About My Page</h2>
      <hr class="divider"/>
      <p class="text-center text-white-50"><%= @user.introduction %></p>
    </div>
  </div>
  <!--部分テンプレートの呼び出し-->
  <%= render 'posts/list', posts: @posts %>
  
</main>